.App {
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
  font-size: 150%;
  height: 100vh;
}
.paddintTop5pct {
  padding-top: 5%;
}
.marginTop2vh {
  margin-top: 2vh;
}
.headerElement {
  height: 25vh;
}

.imageElement {
  float: left;
  margin-left: 10%;
}
.temperatureElement {
  float: right;
  margin-right: 10%;
  font-size: 200%;
}

.headerDay {
  background-color: #f7d21b;
  color: black;
}
.headerNight {
  background-color: #202136;
  color: white;
}

.bottomDay {
  background-color: #f5c024;
  color: black;
  height: 75vh;
}

.bottomNight {
  background-color: #0f0f1c;
  color: white;
  height: 75vh;
}
.textA {
  font-size: 220%;
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
  font-family: Raleway;
  font-weight: 800 !important;
}
